body {
  margin: 0%;
  padding: 0%;
}

/* =============== NAV BAR CODE ===============*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000C66;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .bgimg {
    background-image: url("/images//charles-deloye-2RouMSg9Rnw-unsplash.jpg");
    width: 100%;
    height: 100vh;
    color: #2b2828;
    background-size: cover;
  }
  .homepage, 
  .admissionsAid,
  .programs,
  .aboutus,
  .contacts {
    color: #c3bebe;
   padding-top: 90px;
   width: 100%;
   height: 100vh;
   text-align: center;
   box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
  }

  img {
    width: 320px;
    height: 240px;
  }

  


  /* =============== HOME PAGE CODE ===============*/
  .homepage {
    color: #FF0033;;
  }

  .welcomeH1 {
    font-size: 80px;
  }
  .welcomep {
    font-size: 40px;
  }


 /* =============== CAMPUSE LIFE CODE ===============*/
  .campusLife {
    padding-top: 60px;
    text-align: center;
    background-color: #FFC000;
    color: #5e5e5e;
  }

  .campusLH1 {
    font-size: 40px;
  }

  .campusLP {
    font-size: 20px;
  }

  .multiMedia {
    width: 50%;
    height: 64vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  /* =============== ADMISSION & AID CODE ===============*/

  .admissionsAid {
    background-color: #384CA4;
  }

  .admissionH1, .programmsH1 {
    font-size: 40px;
  }

  .admissionH3, h3 {
    font-size: 30px;
  }

  .admissionP, p {
    font-size: 20px;
  }

  /* =============== programs CODE ===============*/

  /* .programmsH1 */
  .programs {
    background-color: #FFC000;
    color: #5e5e5e;
  }

  .program, .contact {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFC000;
    color: #5e5e5e;
  }

  .aboutus {
    background-color: #384CA4;
  }

  .contacts {
    background-color: #FFC000;
    color: #5e5e5e;
  }

  .card {
    background-color: #000C66;
    color: #c3bebe;
    width: 30%;
    height: 50%;
    border-radius: 10px;
  }